<!DOCTYPE html>
<html>

<head>
    <title>Unit Conversion Calculator</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1>Unit Conversion Calculator</h1>

    <form method="POST">
        <label>Enter Value:</label>
        <input type="number" name="value" step="any" aria-label="Enter value" required>
        <br><br>
        
        <label>Initial unit:</label>
        <select name="i_unit">
            <option value="m">Meters</option>
            <option value="km">Kilometers</option>
            <option value="cm">Centimeters</option>
        </select>
        <br><br>

        <label>Final unit:</label>
        <select name="f_unit">
            <option value="m">Meters</option>
            <option value="km">Kilometers</option>
            <option value="cm">Centimeters</option>
        </select>
        <br><br>

        <button type="submit">Convert</button>
    </form>
    <br><br>

    {% if result is not none %}

    <h3>Result: {{ result }}</h3>

    {% endif %}
    <br>

    <a href="/">Back to Home</a>
</body>

</html>
