body{
    font-family: "Mulish", sans-serif;
    background-color: #fefae0;
}

#wrapper{
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    /* border: thin solid black;  */
}

header{
    padding: 15px;
    height: 100%;
    text-align: center;
}

h1{
    margin-bottom: -10px;
    font-family: "Bona Nova SC", serif;
    font-size: 3em;
    color: #283618;
}

nav{
    display: grid;
    background-color: #283618;
    grid-template-columns: auto auto auto auto;
    font-size: 1.5em;
    font-weight: bold;
}

nav > div{
    margin: 5px;
    padding: 5px 10px;
    font-size: 0.75em;
    text-align: center;
}

nav > div > a{
    color: #fefae0;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

.hero{
    background-image: url(../images/front.jpg);
    padding: 100px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    align-items: center;
}

.grid-container img{
    border: 4px solid #dda15e;
}

footer p{
    color: #283618;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

@media screen and (max-width: 980px){
    
}

@media screen and (max-width: 768px){
    
}